OPENAI_API_KEY=

#AZURE_VISION_ENDPOINT=https://{endpoint}.cognitiveservices.azure.com/
#AZURE_VISION_KEY=


SPORT_EMAIL=
SPORT_PASSWORD=

SPORT_URL=https://www.hochschulsport.uni-mannheim.de/angebote/aktueller_zeitraum_0/_Volleyball.html


CAPTCHA=true

WEEKDAYS={"Mi":"19:00-20:30"}

AZURE_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=